<section>
  <ngx-mat-expansion [columnObjects]="TEST_COL_OBJ" [colDisplay]="TEST_DISPLAY" [expansionObjects]="this.testExpansion">
    <ng-template #buttonTemplate1 let-i=index>
      <mat-icon (click)="selectTableRow(i)">
        exit_to_app
      </mat-icon>
    </ng-template>
  </ngx-mat-expansion>
</section>
<form class="flex-form" [formGroup]="formGroup" (ngSubmit)="submit(formGroup.value)">
  <div class="form-field-wrapper">
    <mat-form-field>
      <mat-label>Test Name</mat-label>
      <input matInput type="text" formControlName="testCtrl" [errorStateMatcher]="matcher">
      <span matPrefix>
        <mat-icon>account_circle</mat-icon>&nbsp;&nbsp;
      </span>
      <mat-error *ngIf="testControl().hasError('required')">
        League Name is <strong>Required</strong>
      </mat-error>
      <mat-error *ngIf="testControl().hasError('maxlength')">
        Maximum of
        <strong>{{testControl().errors.maxlength.requiredLength}}</strong>
        characters
      </mat-error>
    </mat-form-field>
  </div>

  <div class="button-wrapper">
    <button mat-raised-button type="submit" (click)="openSnackBar('Data', 'data')">Submit</button>
  </div>
  <div class="button-wrapper">
    <button mat-raised-button type="submit" (click)="openDialog('Data', 'data')">View Dialog</button>
  </div>
</form>